/* 
  font-family: 'Roboto', sans-serif;
  font-family: 'Single Day', cursive;
 */

body {
  font-family: "Single Day", cursive;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

nav {
  background-color: darkolivegreen;
}

.nav-container {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.nav-container input,
.nav-container select {
  background-color: darkkhaki;
  border: 0;
  padding: 0.5rem;
  border-radius: 6px;
  color: rgb(129, 63, 63);
  width: 18%;
}

.nav-container button {
  background-color: darkslateblue;
  border: 0;
  border-radius: 4px;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.nav-container button:hover {
  opacity: 0.8;
}

.drinks {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.drink {
  width: 80%;
  margin: 0 auto;
  box-shadow: 1px 2px 10px gray;
  border-radius: 6px;
}
.drink:hover {
  cursor: pointer;
}

.drink img {
  width: 100%;
  border-radius: 6px;
}

.drink .drink-title {
  text-align: center;
}

.modal-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal {
  position: relative;
  background-color: #fff;
  max-width: 500px;
  width: 50%;
  max-height: 1000px;
  height: 80%;
  overflow-y: scroll;
  padding: 20px 50px;
}

.modal-close-btn {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 26px;
}

.modal-close-btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modal-img {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  margin-left: 5%;
}

.row p {
  width: 80%;
  text-align: left;
}

h1 {
  text-align: center;
}

p {
  margin: 0;
}

.ingredients {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ingredient span {
  width: 50%;
  text-align: left;
}

a:visited {
  color: blue;
}
